body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.navbar {
  background-color: black;
}

#savebtn {
  margin-top: 1rem;
  background-color: blue;
  border-color: transparent;
}

#resetbtn {
  margin-top: 1rem;
  background-color: green;
  border-color: transparent;
}

#delete-product {
  background-color: red;
  border-color: transparent;
}
